
<br/><br/><br/>
<div class="row">

<div class="col-md-2">
</div>

<div class="col-md-4">
<h2> Grupni treninzi: </h2><br/>
<h4> Mjesečni: <span> 50 KM </span> </h4>
<h4> Sedmični: <span> 12 KM </span> </h4>
<h4> Po času:  <span> 5 KM </span> </h4>
</div>

<div class="col-md-4">
<h2> Personalni treninzi: </h2><br/>
<h4> Mjesečni: <span> 60 KM </span> </h4>
<h4> Sedmični: <span> 15 KM </span> </h4>
<h4> Po času:  <span> 7 KM </span> </h4>
</div>

<div class="col-md-2">
</div>

</div>
<br/>
<hr/>


<div class="row">
<div class="col-md-12">
<center>
<h3> Svaka naša članica koja je vježbala u programu za trudnice nakon porođaja ima gratis jedan mjesec vježbanja. </h3>
</center>
</div>
</div>

<br/> <br/>

<div class="row">

<div class="col-md-6"> 
<img src="/slika trening.gif" />
</div>


<div class="col-md-6"> 

<p> Naša praksa je pokazala da najbolji uticaj na ženu ima sistem u kojem one vježbaju prije trudnoće, za vrijeme trudnoće i nakon porođaja. Žene koje su fizički aktivne, redovno vježbaju prije trudnoće lakše će podnijeti novonastale promjene u trudnoći. 
Zbog toga Vam preporučujemo, ako planirate da ostanete i drugom stanju, a ne vježbate, da obavezno učinite.
Umjerena tjelesna aktivnost će biti djelotvorna i za trudnice i za razvoj fetusa.</p>

</div>

</div>

<br/> <br/>




<style>
h2{
    font-variant: small-caps;
}

span{
    color: purple;
}

h3{
    color: purple;
}

img{
    width: 500px;
    height: auto;
}

</style>