<h4 O nama </h4>

Fit for 2 je novo mjesto za relaksaciju i zdrav način života. <br>
Umorili smo se od treninga koji tretiraju trudnoću kao bolest ili stavljaju naša tijela i bebe u nelagodne položaje.
Ne samo da je bezbjedno vježbati za vrijeme trudnoće nego je i preporučljivo pod uslovom da nemate rizičnu trudnoću što bi značilo da se prije početka vježbanja konsultujete sa svojim ljekarom. <br>
Mnoge trudnice ne znaju gdje početi, ali naši stručnjaci će vam pomoći. 
Nudimo vam grupne i personalne treninge. 
Naša misija je da izgledate i osjećate se bolje. <br>


Naši treninzi su sigurni, energični i povećavaju nivo fitnessa za jaču trudnoću i brži oporavak.
Nastava se namjerno održavana u malim grupama, tako da naši iskusni instruktori mogu pratiti svakog učesnika. <br>

AKO ŽELITE: <br>
–          Smanjenje klasičnih trudničkih problema umora, zatvora, mučnine. <br>
–          Smanjenje bolova u lumbalnom djelu kičme i karličnom pojasu što je redovna pojava u trudnoći. <br>
–          Smanjenje problema sa proširenim venama, oticanjem nogu, problema sa cirkulacijom. <br>
–          Bolji imunitet i veći nivo energije. <br>
–          Bolje stanje vašeg kardiovaskularnog sistema (srca i pluća). <br>
–          Da popravite raspoloženje. <br>
–          Da održite telesnu težinu koje ste imali pre trudnoće(ne računajući težinu fetusa). <br>
–          Mogućnost brzog i lakog porođaja. <br>
–          Brz povraćaj na predhodno fiziološko stanje. <br>
–          Da sa lakoćom obavljate novonastale obaveze nakon porođaja. <br>
OVO JE IDEALAN PROGRAM ZA VAS. <br>




<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
</head>
<body>

<h2 style="text-align:center">Trenerice</h2>

<div class="card">
  <img src="https://static1.squarespace.com/static/58ab57bd1e5b6ce697f0a308/t/59f209d2ccc5c55e186a3109/1509036317294/CGJJ+for+FPC+web+1500.jpg?format=750w" alt="John" style="width:100%">
  
  <h2>Selma i Belma</h2>
  <p class="title">Dođite nam da zajedno rušimo barijere i uživamo uz fitness za dvoje :) </p>
 <p>Fit for 2 <p>
  <div style="margin: 24px 5;">
  <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
 </div>
 <p><button>Kontakt</button></p>
</div>

</body>
</html>

