<p> prostor za navbar </p>

<div class="row">

    <div class="col-md-12">

        <img id="logo" src="/Fit-For-2-logo.jpg" />
 
    </div>


</div>


<div class="row">

    <div class="col-md-6">

         LOGIN



    </div>

    <div class="col-md-6">

    KONTAKT


    </div>

</div>

<div class="row">

    <div class="col-md-6">

         REZERVACIJA



    </div>

    <div class="col-md-6">

    POKLON BON


    </div>

</div>












<style>

#logo{
    width: 100% ;
    height: auto;
}


</style>