<h1> fitness_trudnice </h1>
<h2> fitness_trudnice </h2>
<h3> fitness_trudnice </h3>
<h4> fitness_trudnice </h4>
<h5> fitness_trudnice </h5>
<h6> fitness_trudnice </h6>
<p class="crveni_tekst"> Ovdje ide neki texst paragrafa lalalal </p>
<p id="posebni"> Ovdje ide neki texst paragrafa lalalal </p>
<p class="zeleni"> Ovdje ide neki texst paragrafa lalalal </p>
<p class="zeleni"> Ovdje ide neki texst paragrafa lalalal </p>
<p class="zeleni"> Ovdje ide neki texst paragrafa lalalal </p>
<p class="crveni_tekst"> Ovdje ide neki texst paragrafa lalalal </p>



<img src="http://workout.ba/wp-content/uploads/2014/07/Fitness-438x278.jpg" />


<style>
img{
    width: 200px;
    height: auto;
    border: 12px solid red;
    padding-top: 100px;
    margin-left: 150px;
}

p {
    .crveni_tekst;
    color: red;
}

#posebni{
    color:yellow;
    font-size: 24px;
}

.zeleni{
    color: green;
}

</style>