<h1> Zanimljivosti </h1>
<br/><br/>


<div class="row">

<div class="col-md-4"> 
<a href="http://www.roditelji.hr/trudnoca/16-30-tjedan/idealan-dan-jedne-trudnice/" target="_blank"><img src="/trudnica_fit.jpg" /></a>
</div>

<div class="col-md-4"> 
<a href="https://klokanica.24sata.hr/trudnoca/trudnica/detaljni-vodic-kroz-vjezbanje-u-trudnoci-1300" target="_blank"><img src="/slika14.jpg" /></a>
</div>

<div class="col-md-4"> 
<a href="https://klokanica.24sata.hr/trudnoca/trudnica/protiv-strija-prirodnim-uljima-ili-kupovnim-kremama-951" target="_blank"><img src="vjezbe.jpg" /></a>
</div>

</div>

<br/><br/>


<div class="row">

<div class="col-md-4"> 
<a href="https://klokanica.24sata.hr/trudnoca/trudnica/pet-recepata-za-zdravi-trudnicki-jelovnik-1016" target="_blank"><img src="/slika15.jpg" /></a>
</div>

<div class="col-md-4"> 
<a href="https://www.radiosarajevo.ba/metromahala/teme/savjeti-za-trudnice-gdje-u-sarajevu-vjezbati-i-pripremiti-se-za-porod/259805" target="_blank"><img src="/trudnica.jpg" /></a>
</div>

<div class="col-md-4"> 
<a href="http://she.hr/sigurnosni-pojas-u-trudnoci/" target="_blank"><img src="/voznja.jpg" /></a>
</div>

</div>




<style>
img{
    width: 300px;
    height: auto;
}

</style>